<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.ShopMapper">

<select id="classlist"  resultType="shopclassvo">
	select * from class
</select>

<select id="fieldlist"  parameterType="int" resultType="shopfieldvo">
select * from field where classnum=#{classnum}
</select>

<select id="fieldcnt" parameterType="int" resultType="int">
select NVL(count(*),0) from field where classnum=#{classnum}
</select>

<select id="classitemlist" parameterType="hashmap" resultType="shopitemjoinvo">
select bb.*,itemimage.item_savefilename from itemimage,(select aa.*,rownum rnum from (select * from item where fieldnum in(select fieldnum from field where classnum in(select classnum from class where classnum=#{classnum} )))aa)bb <![CDATA[where itemimage.p_num=bb.p_num and rnum >=#{startRow} and rnum <=#{endRow}]]>
 			
</select>

<select id="classcnt" parameterType="int" resultType="int">
select NVL(count(*),0) from item where fieldnum in(select fieldnum from field where classnum in(select classnum from class where classnum=#{classnum} ))
</select>

<select id="fielditemlist" parameterType="hashmap" resultType="shopitemjoinvo">
select bb.*,itemimage.item_savefilename from itemimage, (select * from (select aa.*,rownum rnum from (select * from item where  fieldnum = #{fieldnum})aa))bb <![CDATA[where bb.p_num=itemimage.p_num and rnum >=#{startRow} and rnum <=#{endRow}]]>
</select>

<select id="itemlist" parameterType="hashmap" resultType="shopitemvo">
select * from (select aa.*,rownum rnum from (select * from item)aa 
<where>
<if test="fc_num=='0'">
fieldnum = #{fieldnum}) <![CDATA[where rnum >=#{startRow} and rnum <=#{endRow}]]>
</if>

<if test="fc_num!=null and fc_num!='0'"> 
fieldnum in #{fieldnum} and p_num in (select p_num from itemfilter where fc_num in(select fc_num from filtercontent where ${sql}))) <![CDATA[where rnum >=#{startRow} and rnum <=#{endRow}]]>
</if>

</where>
</select>

<select id="itemcnt" parameterType="hashmap" resultType="int">
select NVL(count(*),0) cnt from item 
<where>
<if test="fc_num=='0'">
fieldnum = #{fieldnum}
</if>

<if test="fc_num!=null and fc_num!='0'"> 
fieldnum in #{fieldnum} and p_num in (select p_num from itemfilter where fc_num in(select fc_num from filtercontent where ${sql}))
</if>

</where>
</select>


<select id="filtertype" parameterType="Integer"  resultType="shopfiltertypevo">
select * from filtertype where ft_num in(select ft_num from filtercontent where fc_num in(select fc_num from itemfilter where p_num in(select p_num from item where fieldnum in(select fieldnum from field where fieldnum=#{fieldnum}))))
</select>

<select id="filtercontent" parameterType="Integer" resultType="shopfiltercontentvo">
select * from filtercontent where ft_num in(select ft_num from filtertype where ft_num=#{ft_num})
</select>


</mapper>

